{% extends "base.html" %}

{% block title %}Battleships | My Bots{% end %}
{% block css %}
    <link href="{{ static_url("css/main.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/custom.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
{% end %}
{% block js %}
    <script src="{{ static_url("js/lib/jquery.min.js") }}"></script>
    <script src="{{ static_url("js/main.js") }}"></script>
    <script src="{{ static_url("js/lib/lodash.js") }}"></script>
    <script src="{{ static_url("js/lib/jquery.cookie.js")}}"></script>
    <script src="{{ static_url("js/lib/d3.js")}}"></script>
    <script src="{{ static_url("js/utils.js") }}"></script>
    <script src="{{ static_url("js/board.js") }}"></script>
{% end %}

{% block body %}
    <div class="container">
        <div class="row">

            <h1>Battleships</h1>

            <table>
                <tr>
                    <td width="75px"><img class="avatar" src="{{ user["facebook_data"]["picture"]["data"]["url"] }}"></td>
                    <td><h2>{{ user["facebook_data"]["name"] }}'s Bot {{ str(bot["_id"]) }}</h2></td>
                    <td style="text-align: right;">
                        <a href="/players/{{user["_id"]}}"><button id="bots" data-player-id="{{ user["_id"] }}" type="button" class="btn btn-primary">{{ user["facebook_data"]["name"] }}'s Bots</button></a>
                        <a href="/"><button id="home" type="button" class="btn btn-primary">Leaderboard</button></a>
                    </td>
                </tr>
            </table>
                <aside id="error-notification" class="error hide">
                    <b>Error</b>
                    <p></p>
                </aside>
            <div>
                <div class="col-md-12">
                  <div id="board"></div>
                <div>
            </div>
            <div>
                <button id="game-start" type="button" class="btn btn-primary">New</button>
                <button id="replay" type="button" class="btn btn-primary">Replay</button>
                <span id="num-moves"></span>
            </div>
            <div id="total-time">
            </div>
        </div>
    </div>
    <div class="loading" class="hide"></div>
{% end %}
