{% extends "base.html" %}

{% block title %}Battleships | Home{% end %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <h1>Battleships</h1>
                <h2 class="msg">Oops, looks like you didn't attach the bot file.</h2>
                <a href="/players/{{user_id}}"><button id="home" type="button" class="btn btn-primary">Okay, got it</button></a>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% end %}
