{% extends "base.html" %}

{% block js %}
    <script src="{{ static_url("js/lib/lodash.js") }}"></script>
    <script src="{{ static_url("js/lib/d3.js")}}"></script>
    <script src="{{ static_url("js/board.js") }}"></script>
{% end %}

{% block content %}
    <h1>Watch your game</h1>
    <div class="row">
        <div class="col-md-12">
          <div id="board"></div>
        <div>
    </div>
    <div class="now">
      <div class="btn-group">
        <div class="game-start btn btn-default">Start New</div>
         <div class="btn-group change-bot">
          <div type="button" data-val="{{ bots[0]['bot_id'] }}"  class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Generation {{ len(bots) }} - {{ bots[0]['time_human'] }}
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu">
            {% for i, bot in enumerate(bots) %}
              <li><a data-val="{{ bot['bot_id']}}" href="#">Generation {{ botlen - i }} - {{ bot['time_human']}}</a></li>
            {% end %}

          </ul>
        </div>
        <div type="button" class="replay btn btn-default">Restart</div>
        <div class="ship-show btn btn-default">Hide Ships</div>
        <div class="btn-group change-speed">
          <div type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Medium
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu">
            <li><a data-val="0" href="#">Fast</a></li>
            <li><a data-val="1" href="#">Medium</a></li>
            <li><a data-val="2" href="#">Slow</a></li>
          </ul>
        </div>
      </div>
    </div>

{% end %}


