{% extends "base.html" %}

{% block title %}Battleships | My Bots{% end %}

{% block body %}
    <div class="container">
        <div class="row">

            <h1>Battleships</h1>

            <table>
                <tr>
                    <td width="75px"><img class="avatar" src="{{ user["facebook_data"]["picture"]["data"]["url"] }}"></td>
                    <td><h2>{{ user["facebook_data"]["name"] }}'s Bots</h2></td>
                    <td style="text-align: right;"><a href="/"><button id="home" type="button" class="btn btn-primary">Leaderboard</button></a></td>
                </tr>
            </table>

            <div class="table-responsive">
                <table class="bots table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Uploaded</th>
                            <th>Success</th>
                            <th>Score</th>
                            <th>Avg Time</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for i, bot in enumerate(bots) %}
                        <tr data-bot-id="{{ bot["_id"] }}">
                            <td>{{ i+1 }}</td>
                            <td><span data-timestamp="{{ bot["created_time"] }}"></span></td>
                            <td>{{ {"pending": "Pending", "success": "Yes", "error": "No"}[bot["state"]] }}</td>
                            <td>{{ bot["score"] if bot["state"] == "success" else "-" }}</td>
                            <td>{{ "%.2f" % bot["avg_time"] if bot["state"] == "success" else "-" }}</td>
                        </tr>
                    {% end %}
                    </tbody>
                </table>
            </div>

            {% if is_current_user %}
                <h1>Upload a bot</h1>
                <form method="POST" enctype="multipart/form-data" role="form">
                    <div class="form-group">
                        <fieldset>
                            <input type="file" name="bot_file" style="height: 30px; font-size:12px">
                            <button type="submit" class="btn btn-primary">Upload my bot</button>
                            <a href="/how-to"><button id="how-to-button" type="button" class="btn btn-primary">How do I make a bot?</button></a>
                        </fieldset>
                        {% raw xsrf_form_html() %}
                    </div>
                </form>
            {% end %}
        </div>
    </div>
{% end %}
