{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="bs-sidebar hidden-print affix" role="complementary">
                <ul class="nav bs-sidenav">
                    <li>
                        <a href="#overview">How To</a>
                    </li>
                    <li>    
                        <a href="#samples">Samples</a>
                        <ul class="nav">
                            <li><a href="#sample-python">Python</a></li>
                            <li><a href="#sample-bash">Bash</a></li>
                            <li><a href="#sample-php">PHP</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <div id="page-header">
                    <h1 id="overview">How To</h1>
                </div>
                <p>
                    A bot is a file that is able to play a game of <a href="http://en.wikipedia.org/wiki/Battleship_(game)" target="_blank">Battleships.</a>
                </p>
                <p>
                    Each time it's the bot's turn to make a move the bot file will be executed and passed the current board state as <a href="http://en.wikipedia.org/wiki/Standard_streams" target="_blank">standard input (stdin)</a>.
                <p>
                <p>A board state is a 10-by-10 grid:</p>
                <pre>
   <strong>{% for l in ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"] %} {{ l }} {% end %}</strong>
{% for y in range(10) %}{% set i = y+1 %}<strong>{% raw (" %s" if i < 10 else "%s") % i %}</strong> {% for x in range(10) %}{% set i = ((y * 10) + x) %}{% raw (" %s" if i < 10 else "%s") % i %} {% end %}
{% end %}</pre>
                </p>

                <p>
                    It's passed to the bot file as a single comma-separated string.
                </p>
                <p>
                    The numbers in the grid show the index positions of the squares in this comma-separated list.
                    Each square has one of the following values:
                </p>
                <div class="example">
                    <pre>
1 - Hit
0 - Unknown
-1 - Miss</pre>
                </div>

                <p>
                    The string received by the bot might look like:
                </p>
                <pre>-1,0,0,1,0,0...</pre>
                <p>
                    The bot can look at the board state and must return the index position of the square it would like to try next.
                </p>
                <p>
                    The bot might decide it wants to try square <strong>C5</strong> next so it will return <strong>42</strong> (see grid above).
                </p>
                <p>
                    To return the value the bot file must write it to standard out.
                </p>
                <p>
                    That's it! The bot will be repeatedly executed like this until all battleships have been sunk.
                    The bot's score will be based on the number of turns it took.
                </p>
            </div>
            <div class="bs-docs-section">
                <div id="page-header">
                    <h1 id="samples">Samples</h1>
                </div>
            
    <p>The following bots are written in various languages but all implement the same simple strategy.
    First they try square A1, then B1, then C1, scanning the board until eventually all battleships are sunk.
    </p>
    <h2 id="sample-python">Python</h2>

        <pre>
#!/usr/bin/python
import sys

def main():
shot_grid = sys.argv[1].split(',')
for i, state in enumerate(shot_grid):
    if state == "0": # unknown
        sys.stdout.write(str(i))
        return

if __name__ == "__main__":
main()
        </pre>
    <h2 id="sample-bash">Bash</h2>
    <pre>
#!/bin/bash

shot_grid=(${1//,/ })
for i in "${!shot_grid[@]}"; do
state="${shot_grid[$i]}"
if [ "$state" == "0" ]; then # unknown
    echo "$i"
    exit
fi
done
    </pre>
    <h2 id="sample-php">PHP</h2>


<pre>
#!/usr/bin/php

&lt;?php
$shot_grid = $argv[1];
$shot_grid = explode(",", $shot_grid);
foreach ($shot_grid as $i =&gt; $state) {
    if ($state == "0") { // unknown
        echo $i;
        exit;
    }
}
?&gt;
        </pre>

<div style="height:400px"></div>
</div>
</div>
{% end %}
