{% extends "base.html" %}

{% block content %}
    <style>
      
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px; 
      }

      rect.hit {
        fill: #FF0000;
        transition : fill 200ms ease-out; 
        -webkit-transition : fill 200ms ease-out; 
        -moz-transition : fill 200ms ease-out;
        -o-transition : fill 200ms ease-out;
      }
      
      rect.miss {
        fill: #0000FF;
        transition : fill 200ms ease-out; 
        -webkit-transition : fill 200ms ease-out; 
        -moz-transition : fill 200ms ease-out;
        -o-transition : fill 200ms ease-out;
      }

      rect.empty {
        fill: #ADD8E6;
        transition : fill 200ms ease-out; 
        -webkit-transition : fill 200ms ease-out; 
        -moz-transition : fill 200ms ease-out;
        -o-transition : fill 200ms ease-out;
      }

    </style>

    <div class="row">
        <div id="board"></div>
    </div>
    <div id="ship-show" class="btn btn-default">Hide Ships</div>

    <div class="form-group">
      <label for="animation-speed">Speed</label>
        <select id="animation-speed" class="form-control">
          <option value="0">Very Fast</option>
          <option value="1">Fast</option>
          <option selected="selected" value="2">Medium</option>
          <option value="3">Slow</option>
        </select>
    </div>

{% end %}

{% block js %}
    <script src="{{ static_url("js/lib/lodash.js") }}"></script>
    <script src="{{ static_url("js/lib/d3.js")}}"></script>
    <script src="{{ static_url("js/board.js") }}"></script>
{% end %}